*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-block: 8px;
    background-color: black;
}
.galeria {
    display: columns;
    columns: 3;
    color: pink;
}

.galeria img{
    width: 100%;
    padding-block: 8px;
}

.info{
    background-color: white;
}

.info span{
    color: black;
}